.usersBlock {
    display: grid;
    grid-template-columns: 200px 800px;
    grid-template-rows: repeat(2, 1fr);
}

.usersAva {
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
}

.usersButton {
    grid-area: 2 / 1 / 3 / 2;
    text-align: center;
    margin-top: 5px;
}

.usersData {
    grid-area: 1 / 2 / 3 / 3;
    margin-top: 5px;
}

.userPhoto {
    width: 100px;
    border-radius: 50px;
}