.header {
    grid-area: h;
    background: black;
    opacity: 90%;
    box-shadow: 5px 0 10px black;
}
.header b{
    font-family: "Bookman Old Style";
    font-size: 40px;
    margin-left: 20px;
    text-shadow: 7px 0 10px #7081ff;
}
.header img {
    width: 40px;
    margin-left: 50px;
}

.infoUser{
    width: 300px;
    float: right;
    color: white;
    /*margin-right: 10px;*/
    /*margin-top: 3px;*/
}

.loginBlock {
    width: 400px;
    float: right;
    color: white;
    /*margin-right: 10px;*/
    margin-top: 3px;
}

.loginBlock a {
    color: white;
}

.loginBlock img {
    width: 45px;
    margin: 0 0 0 30px;
}
