.nav {
    grid-area: n;
    background-color: darkgrey;
    padding: 40px;
    opacity: 80%;
}

.item a {
    font-size: 18px;
    color: white;
    text-decoration: none;
}

.item .activeLink {
    color: gold;
}