.nav {
    grid-area: n;
    grid-template-columns: 1fr;
    padding: 30px;
    opacity: 80%;
    /*box-shadow: 0 0 10px black;*/
}

.item a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    opacity: 100%;
}

.item a:hover {
    color: darkslateblue;
    background: lavender;
    border-radius: 5px;
}

.item .activeLink {
    color: #7081ff;
}

.friends {
    margin-top: 100px;
    text-align: center;
}

.friends a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.friends .activeLink {
    color: #7081ff;
}