.nav {
    grid-area: n;
    grid-template-columns: 1fr 1fr;
    /*background-color: rgba(0, 226, 255, 0.57);*/
    padding: 30px;
    opacity: 80%;
}

.item a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    opacity: 100%;
}

.item .activeLink {
    color: #7081ff;
}

.friends {
    margin-top: 100px;
    text-align: center;
}

.friends a {
    font-size: 22px;
    color: white;
    text-decoration: none;
}

.friends .activeLink {
    color: #7081ff;
}