.wall {
    height: 200px;
    width: 1000px;
}

.descriptionBlock {
    padding: 10px;
}

.descriptionBlock .profileAvatar img {
    height: 300px;
}

.descriptionBlock .userStatus {
    display: inline-flex;
}

.descriptionBlock .statusName {
    margin-right: 10px;
}

.contact {
    padding-left: 10px;
}

.personalDataBlock {
    margin-top: 30px;
}

.profileDataForm .error {
    color: red;
    font-weight: 700;
    font-size: 12px;
}

.profileDataForm .textInputError {
    border-color: red;
}

.formSummaryError {
    margin-left: 60px;
    margin-top: 15px;
    color: red;
    font-weight: 700;
    font-size: 12px;

}