body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background: url("http://oboi.cc/uploads/11_05_2013/view/201209/oboik.ru_34549.jpg");*/
  background: url("https://img3.goodfon.ru/original/1920x1080/8/36/fon-svechenie-gradient.jpg");
  /*background: #e8bf4e;*/
  background-size: 100%;
  background-attachment: fixed;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
