.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 15px;
}

.dialogsItems .active {
    color: gold;
}

.dialog {

}

.messages {
    padding: 15px;
}

.messages .message {

}