.dialogs {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr 2fr;
    grid-gap: 5px;
}

.dialogsItems {
    padding: 10px;
    line-height: 60px;
    text-decoration: none;
}

.dialogsAva {
    margin-top: 12px;
}

.dialogsAva img {
    width: 50px;
    border-radius: 50%;
    padding: 3px;
    margin-left: 20px;
}

.dialog a {
    font-size: 17px;
    text-decoration: none;
}

.dialog .activeLink {
    color: cornflowerblue;
}

.messages {
    margin-top: 0px;
    padding: 10px;
    line-height: 60px;
}

.dialogs .textareaBlock {
    margin-top: 400px;
}